# File managers
.DS_Store
.directory
desktop.ini

# Folders
node_modules/

# Logs
*.log*

# Other lockfiles
yarn.lock
npm-shrinkwrap.json

# Executables
*.app
*.exe

# Electron build folders
Windows98*/
